MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=flex_broadcast

TTING_ID=
TTING_PWD=

PORT=10000
LOG_LEVEL=info
SYNC_INTERVAL_MS=60000
STREAM_DETAIL_CONCURRENCY=8
SOCKET_CONNECT_CONCURRENCY=6
EVENT_FLUSH_INTERVAL_MS=1800000
LEADER_LOCK_KEY=horse-racing-collector
LEADER_LEASE_MS=45000
LEADER_RENEW_INTERVAL_MS=15000
